nelmio_cors:
        defaults:
            allow_credentials: false
            allow_origin: []
            allow_headers: []
            allow_methods: []
            expose_headers: []
            max_age: 0
            hosts: []
            origin_regex: false
            forced_allow_origin_value: '*'
        paths:
            '^/api/':
                allow_origin: ['*']
                allow_headers: ['X-Custom-Auth', 'Origin', 'X-Requested-With', 'Content-Type', 'Accept']
                allow_methods: ['POST', 'PUT', 'GET', 'DELETE', 'OPTIONS']
                max_age: 3600
            '^/':
                origin_regex: false
                allow_origin: ['^http://localhost:[0-9]+']
                allow_headers: ['X-Custom-Auth', 'Origin', 'X-Requested-With', 'Content-Type', 'Accept']
                allow_methods: ['POST', 'PUT', 'GET', 'DELETE', 'OPTIONS']
                max_age: 3600